.lines {
  width: 1px;
  height: 100px;
  background: red;
}

.about-image {
  width: 350px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-image-container {
  float: right;
  width: 450px;
  margin-right: 15px;
  align-content: center;
  z-index: -1;
  overflow-x: hidden;
}

.about-container {
  background-color: transparent;
  max-width: 100vw;
  display: inline-block;
  margin-top: 10px;
  overflow-x: hidden;
}

.about-text-container {
  width: calc(100vw - 550px);
  float: left;
  margin-left: 70px;
  background-color: transparent;
  margin-top: 30px;
}

.about-container > .about-text-container > h1 {
  color: #231f20;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.about-container > .about-text-container > p {
  margin: 8px 20px;
  color: #231f20;
  font-size: 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.about-btns {
  margin-top: 32px;
}

.about-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .about-container > .about-text-container > h1 {
    font-size: 42px;
  }

  .about-container > .about-text-container > p {
    font-size: 24px;
  }

  .about-image-container {
    width: 400px;
  }

  .about-text-container {
    width: calc(100vw - 500px);
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .about-container > .about-text-container > h1 {
    font-size: 35px;
    margin-top: 0px;
  }

  .about-container > .about-text-container > p {
    font-size: 18px;
    margin-top: 20px;
  }
  .about-image {
    height: 200px;
    width: 150px;
  }

  .about-text-container {
    width: calc(100vw - 200px);
    margin-left: 20px;
  }
  .about-image-container {
    width: 150px;
    margin-right: 10px;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 500px) {
  .about-container > .about-text-container > h1 {
    font-size: 20px;
  }

  .about-container > .about-text-container > p {
    font-size: 16px;
  }

  .about-image-container {
    width: 100px;
    margin-right: 10px;
  }

  .about-image {
    height: 135px;
    width: 100px;
  }

  .about-text-container {
    width: calc(100vw - 130px);
    margin-left: 20px;
  }
}
